/*------------------------------------------------------------
Final Project:	Coffee Shop Website

Jorge Gomez
040993417
20W1511 - Web Design

Content
1. General Styles	-	Google fonts @Import
	1.1 Grid Definition
2. Header Styles
	2.1 Navigation Styles
3. Main Content Styles
	3.1 Sidebar
4. Footer Styles
5. Media Queries

Colors:
			Grey 75%:		#404040
			Grey 50%:		#808080
			Grey 25%: 		#bfbfbf
			Red - Dark:		#892728
			Green - Dark: 	#808101
			Green - Light:	#d9e17f
			Brown - Dark:	#462917
			Brown - Light:	#90623e
			Beige - Light:	#f2e3d1

Font Family:
			font-family: 'Pacifico', cursive;
			font-family: 'Nunito', sans-serif;
			font-family: 'Alegreya', serif;

------------------------------------------------------------*/

/*
*			1. General Styles
------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Alegreya|Nunito|Pacifico&display=swap');

html {							/*	Box Model definition	*/
	box-sizing: border-box;
}

h1, h2 {
	font-family: 'Pacifico', cursive;
}

p {
	font-family: 'Nunito', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

/*
*			1.1 Grid Definitions
------------------------------------------------------------*/

/* Primary Grid		*/
header {
	grid-area: head;
}

nav {
	grid-area: navi;
}

main {
	grid-area: main;
}


footer {
	grid-area: foot;
}

.wrapper {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-template-areas:
		"head"
/*		"navi"*/
		"main"
		"foot";
}

/*	Secondary grid	*/

section {
	grid-area: block1;
}

aside {
	grid-area: side1;
}

main {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat (3, 1fr);
	grid-template-areas:
		"block1		block1		side1";
}

/*
*			2. Header Styles
------------------------------------------------------------*/
header {
	background-image: url('../img/header-background.jpg');
	background-color: #bfbfbf;
	background-blend-mode: overlay;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.logo {
	padding: 5rem;
}

/*
*			2.1 Navigation Styles
------------------------------------------------------------*/

nav {
	background-color: #892728;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

nav a {
	font-family: 'Nunito', sans-serif;
	color: #f2e3d1;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1.5rem;
}

nav a:hover {
	background-color: #f2e3d1;
	color: #892728;
	font-weight: bolder;
}

/*
*			3. Main Content Styles
------------------------------------------------------------*/
h2 {
	background-color: #f2e3d1;
	color: #462917;
	padding: 2rem;
	font-size: 2rem;
}

h2::first-letter {
	color: #90623e;
}

.ecopolicy {
	background-image: url('../img/eco-bg.jpg');
	background-color: #cfcfcf;
	background-blend-mode: overlay;
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: 25%;	
}

.story {
	background-image: url('../img/stockvault-cinnamon-and-coffee-beans106409.jpg');
	background-color: #cfcfcf;
	background-blend-mode: overlay;
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: 25%;	
}

section article p {
	font-size: 1.3rem;
	font-weight: bold;
	padding: 1rem;
}

section article img {
	width: 90%;
	float: right;
	padding: 0.5rem;
}

table, tr, th, td {
	font-family: 'Alegreya', serif;
	border-collapse: collapse;
	border: 2px solid #808101;
	font-size: 1.5rem;
	font-weight: 500;	
}

th, td {
	padding: 1rem;
	text-align: center;
}

form {
	font-family: 'Alegreya', serif;
	font-size: 1.2rem;
	font-weight: 700;
	padding-left: 2rem;
}

.button {
	padding: 0.5rem;
	font-weight: bold;
	color: #462917;
}

/*
*			Sidebar
------------------------------------------------------------*/
aside p {
	font-weight: 600;
	font-size: 1.2rem;
	padding-left: 1.5rem;
}

aside img {
	width: 75%;
	padding: 2rem;
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.social img{
	width: 10%;
}

iframe {
	padding-left: 2rem;
/*
	width: 75%;
	height: 75%;
*/
}

/*
*			4. Footer Styles
------------------------------------------------------------*/
footer img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/*
*			5. Media Queries
------------------------------------------------------------*/

@media screen and (max-width: 680px) {

	body {
		width: 100%;
		margin: 0 auto;
	}

	nav {
		grid-area: navi;
		flex-direction: column;
		font-size: 1.5rem;
		padding: 0.5rem;
	}
	
	nav a {
		width: 80%;
		padding: 0.5rem;
		text-align: center;
	}
	
	main {
		display: grid;
		grid-gap: 0.5rem;
		grid-template-areas:
			"block1"
			"side1";
	}
}

@media screen and (min-width: 880px) {

	body {
		width: 80%;
		margin: 0 auto;
	}
	
	nav {
		background-color: #892728;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	
	nav a {
		font-family: 'Nunito', sans-serif;
		color: #f2e3d1;
		font-size: 1.2rem;
		font-weight: bold;
		padding: 1.5rem;
	}

	nav a:hover {
		background-color: #f2e3d1;
		color: #892728;
		font-weight: bolder;
	}
	
	main {
		display: grid;
		grid-gap: 0.5rem;
		grid-template-columns: repeat (3, 1fr);
		grid-template-areas:
			"block1		block1		side1";
	}
}

